.Footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* background-color: #bdbdbd; */
  background-color: rgba(46, 45, 45, 0.02);
  padding-top: 3rem;
}

.Explanation {
  background-color: #2c2c2c;
  padding: 3rem;
  border-radius: 10px;
  max-width: 1000px;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.learnMore {
  margin-top: 20px;
  padding: 0 3rem;
  width: 30%;
  align-self: flex-end;
}

.TextWrapper h2 {
  /* font-size: 44px; */
  color: #f9f8f4;
  font-weight: 300;
  /* margin-bottom: 2rem; */
  flex: 1;
}

.TextWrapper p {
  font-size: 16px;
  font-family: "DM Mono", monospace;
  line-height: 2.5rem;
  color: rgb(173, 173, 173);
}

.ContentWrapper {
  display: flex;
  max-width: 1000px;
  width: 80%;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.ContentWrapper * {
  font-family: Roboto Mono, sans-serif;
}

.ContentWrapper p {
  margin-top: 4rem;
  color: white;
}

.footerNav {
  text-align: right;
  color: rgb(173, 173, 173);
}

.footerNav li:first-child {
  margin: 0;
}

.footerNav li {
  margin: 1rem 0;
  font-size: 14px;
  font-family: "DM Mono", monospace;
}

@media screen and (max-width: 1024px) {
  .learnMore {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .learnMore {
    width: 90%;
    align-self: center;
  }
}

@media screen and (max-width: 425px) {
  .Explanation {
    width: 90%;
    padding: 3rem 1rem;
  }

  .TextWrapper > p {
    font-size: 14px;
    line-height: 24px;
  }

  .ContentWrapper {
    flex-direction: column;
  }

  .footerNav {
    text-align: center;
  }
}
