@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

h1 {
  font-size: 64px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

ul{
  list-style: none;
}

.container{
  max-width: 1200px;
  margin: auto;
}

.full-screen {
  height: calc(100vh - 100px);
  padding-bottom: 15rem;
}


.btn-primary{
  border: none;
  height: 40px;
  padding: 0 1rem;
  background-color: #1890FF;
  color: #fff;
  transition: all .2s ease;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.btn-primary:hover {
  background-color: #1568b6;
}

.btn-secondary {
  height: 80px;
  border: none;
  color: white;
  font-size: 32px;
  border-radius: 100px;
  background-color:  #EB5757;
  padding: 0 1em;
  transition: all .2s ease;
}

.btn-secondary:hover {
  background-color: #883636;
}
