.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* position: relative; */
  /* background-color: red; */
  min-height: 700px;
  /* filter: blur(5px); */
}

.Hero > h1,
.Hero > p .Hero > .SearchWrapper {
  margin-bottom: 2rem;
}

.Hero h1 {
  margin-top: 10rem;
}

.TagLine {
  line-height: 64px;
  font-weight: 300;
}

.bigConnect {
  margin-bottom: 3rem;
}

.connectBtn {
  min-width: 300px;
  max-width: 500px;
  height: 75px;
  letter-spacing: 3px;
}

.Desc {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  color: #f9f8f4;
  font-size: 16px;
  margin-bottom: 4rem;
}

.SearchWrapper {
  display: flex;
  /* flex-direction: column; */
}

.SearchWrapper > * {
  font-family: "DM Mono", monospace;
  font-weight: 500;
}

.SearchInput {
  height: 40px;
  min-width: 500px;
  max-width: 590px;
  color: gray;
  background-color: #f9f8f40c;
  /* border: 1px solid #D9D9D9; */
  border: none;
  border-radius: 25px 0 0 25px;
  padding: 0 0.5rem;
}

.SearchInput:focus {
  outline: none;
}

.searchBtn {
  /* border-radius: 0 25px 25px 0; */
  border-radius: 25px;
  margin-left: -30px;
}

.BadgeWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
}
.placeHolder {
  min-height: 50px;
  margin-top: 1rem;
}

.error {
  font-family: "DM Mono", sans-serif;
  margin-top: 1rem;
  background-color: #53190c;
  border: 1px solid #fc0000;
  border-radius: 12px;
  min-height: 50px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  color: #f24822;
  padding: 0 6rem;
  opacity: 0;
  animation: shake 0.2s ease forwards;
}

@keyframes shake {
  0% {
    opacity: 0;
    margin-left: 0;
    margin-right: 0;
  }

  25% {
    opacity: 0.5;
    margin-left: -1rem;
    margin-right: 1rem;
  }

  50% {
    opacity: 0.75;
    margin-left: 1rem;
    margin-right: -1rem;
  }

  100% {
    opacity: 1;
    margin-left: 0;
    margin-right: 0;
  }
}

.imagesWrapper {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 100px);
  /* top: 100px;*/
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.doodle {
  position: absolute;
  /* width: 150px; */
  width: 100px;
  z-index: -1;
}

.greensquig {
  left: 0;
  top: 150px;
  width: 100px;
}

.diamond {
  left: 250px;
  top: 400px;
  filter: invert(62%) sepia(30%) saturate(1840%) hue-rotate(178deg) brightness(102%) contrast(90%);
}

.yellowsquig {
  top: 90px;
  left: 500px;
  display: none;
}

.upchart {
  top: 600px;
  right: 600px;
  transform: scale(1.3);
  filter: invert(66%) sepia(90%) saturate(2331%) hue-rotate(330deg) brightness(98%) contrast(87%);
}

.house {
  right: 250px;
  top: 100px;
  /* width: 200px; */
  transform: scale(1.5);
  filter: invert(86%) sepia(61%) saturate(448%) hue-rotate(333deg) brightness(101%) contrast(101%);
}


.pokerchip {
  right: 100px;
  bottom: 300px;
  filter: invert(51%) sepia(80%) saturate(7473%) hue-rotate(224deg) brightness(97%) contrast(90%);
}

.butterfly {
  bottom: 75px;
  left: 600px;
  transform: scale(2) rotate(20deg);
  filter: invert(37%) sepia(33%) saturate(3054%) hue-rotate(335deg) brightness(95%) contrast(77%);
}

.toiletpaper {
  left: 450px;
  top: 75px;
  filter: invert(79%) sepia(43%) saturate(2770%) hue-rotate(292deg) brightness(105%) contrast(96%);
}

@media screen and (max-width: 920px) {
  
}

@media screen and (max-width: 500px) {
  .Hero {
    /* min-height: unset; */
  }

  .Hero > h1 {
    margin-top: 3rem;
    /* margin: 0; */
  }

  .TagLine {
    font-size: 36px;
  }

  .SearchWrapper {
    flex-direction: column;
  }

  .SearchInput {
    min-width: 300px;
    max-width: 100px;
    border-radius: 25px 25px 25px 25px;
    margin-right: 0;
  }

  .searchBtn {
    margin: 2rem 2rem 0 2rem;
  }

  .placeHolder {
    margin-top: 2rem;
  }

  .error {
    width: 80%;
  }

  .house {
    top: 75px;
    width: 50px;
    left: 20px;
  }

  .diamond {
    left: unset;
    width: 75px;
    right: 25px;

  }

  .bluesquig {
    display: none;
  }

  .pokerchip {
    bottom: 50px;
  }

  .toiletpaper {
    top: 250px;
    left: 350px;
    width: 50px;
    transform: rotate(15deg);
  }

  .greensquig{
    width: 50px;
    top: 225px;
  }
  .pot {
    right: 300px;
    bottom: -25px;
  }

  

}

@media screen and (max-width: 375px) {
  .Hero {
    justify-content: flex-start;
    min-height: unset;
  }
  .Hero > h1 {
    margin-top: 0;
    /* font-size: 18px; */
  }

  .TagLine {
    font-size: 32px;
  }
  .toiletpaper {
    display: none;
  }

  .foot {
    top: 80px;
    right: 0px;
  }
}
