.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 5rem;
    height: 100px;
    /* background-color: orange; */

}

.LogoWrapper{
    display: flex;
    align-items: center;
    color: #50b1f291;
    font-size: 24.4px;
    font-weight: 100;
}

.LogoWrapper > div:nth-child(2){
    font-family: 'DM Mono', sans-serif;
    text-transform: uppercase;
    border: 1px solid #50b1f2;
    border-radius: 100px;
    line-height: 15px;
    padding: .8rem 2rem;
    margin-top: 30px;

}

.Logo{
    color: #3C64B1;
    height: 80px;
    /* margin-bottom: 20px; */
    margin-right: 40px;
}   


.NavLinks{
    display: flex;
    align-items: center;
    
}

.NavLink{
    color: #F9F8F4;
    font-weight: 500;
    margin-left: 1rem;
    font-size: 16px;
    padding: 0 3rem;
    font-family: 'DM Mono', sans-serif;
    transition: all 0.25s ease;
}

.NavLink:nth-child(1):hover, .NavLink:nth-child(2):hover, .NavLink:nth-child(3):hover {
    color: #50b1f2;
    transform: scale(1.1);
}


.connect {
    min-width: 190px;
    font-family: 'DM Mono', sans-serif;
}