.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0rem 0 0 2rem; */
  padding: 0 2rem;
  
  /* height: 100px; */
  /* background-color: orange; */
}

.LogoWrapper {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  color: #50b1f291;
  /* font-size: 24.4px; */
  font-weight: 100;
}

.LogoWrapper > div:nth-child(2){
  font-family: 'DM Mono', sans-serif;
  text-transform: uppercase;
  border: 1px solid #50b1f2;
  border-radius: 100px;
  line-height: 15px;
  padding: .8rem 2rem;
  margin-top: 15px;

}

.twitterLogo {
  width: 25px;
  height: 25px;
}

.discordLogo{
  width: 25px;
  height: 20px;
}

.Logo {
  color: #3c64b1;
  height: 50px;
  /* margin-bottom: 20px; */
  margin-right: 40px;
}

.NavList {
  margin-top: 25px;
}

.NavLinks {
  display: flex;
  align-items: center;
}

.NavLink {
  color: #f9f8f4;
  font-weight: 500;
  margin-left: 1rem;
  font-size: 12px;
  padding: 0 1rem;
  text-transform: capitalize;
  font-family: "DM Mono", sans-serif;
  transition: all 0.25s ease;
}

.NavLink:nth-child(1):hover,
.NavLink:nth-child(2):hover {
  filter: invert(54%) sepia(80%) saturate(548%) hue-rotate(177deg) brightness(105%) contrast(90%);
  transform: scale(1.1);
}
.NavLink:nth-child(3):hover,
.NavLink:nth-child(4):hover,
.NavLink:nth-child(5):hover {
  color: #50b1f2;
  transform: scale(1.1);
}

.connect {
  width: 150px;
  font-size: 14px !important;
  font-family: "DM Mono", sans-serif;
}

.disconnect{
  visibility: hidden;
  background-color: rgb(112, 30, 30) !important;
  font-size: 14px !important;
  /* width: 50px; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.disconnectIcon {
  height: 25px;
  width: 25px;
  filter: invert(100%) sepia(0%) saturate(1652%) hue-rotate(282deg) brightness(108%) contrast(108%);
}

.disconnect:hover {
  background-color: rgb(56, 15, 15) !important;
  color: rgb(94, 94, 94);
}

.disconnect:hover .disconnectIcon {
  filter: invert(36%) sepia(0%) saturate(0%) hue-rotate(157deg) brightness(99%) contrast(90%);
}

.visible {
  visibility: visible;
}

.burger {
  display: none;
}

@media screen and (max-width: 1285px) {
  .connect {
    display: none;
  }
  .disconnect{
    display: none;
  }
  .Navbar {
    flex-direction: column;
  }

  .NavLinks {
    justify-content: center;
    /* align-items: center; */
    /* background-color: #fff; */
    /* width: 80%; */
    /* margin: auto; */
    /* margin-left: 7rem; */
  }
}

@media screen and (max-width: 500px) {
  .LogoWrapper {
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .Logo {
    margin: 0;
    height: 75px;
  }

  .burger {
    display: block;
    width: 40px;
    height: 4px;
    margin-top: 2rem;
    background-color: #cacaca;
    transition: all .2s ease-in-out;
    border-radius: 25px;
  }

  .burger::before, .burger::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    transition: all .2s ease-in-out;
    transform-origin: center;
    background-color: #cacaca;
    border-radius: 25px;
  }

  .burger::before{
    transform: translateY(-16px);
  }

  .burger::after {
    transform:translateY(16px);
  }

  .menuBtnWrapper {
    height: 40px;
    width: 40px;
  }

  .menuBtn {
    /* transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    height: 0;
    transition: all .5s cubic-bezier(.44,.53,.09,1.13);
    z-index: 3;
  }

  .menuBtn.open {
    position: fixed;
    top: 150px;
    transform: translateY(450px);
  }

  .menuBtn.open .burger {
    background-color: transparent;
  }

  .menuBtn.open .burger::before{
    transform: rotate(45deg);
  }

  .menuBtn.open .burger::after{
    transform: rotate(-45deg);
  }

  .NavList {
    visibility: hidden;
    /* flex-direction: column; */
    position: fixed;
    transition: all .5s cubic-bezier(.44,.53,.09,1.13);
    /* transition: all .3s ease; */
    margin-top: 100rem;
    z-index: 1;
    text-align: center;
    width: 100%;
  }

  .NavList.open {
    visibility: visible;
    margin-top: 15rem;
    background-color: rgba(34, 34, 34, 0.911);
    
    height: 100%;
  }

  .NavLinks {
    margin-top: 1rem;
    flex-direction: column;
  }

  .NavLink {
    padding: 1rem;
    border: 1px solid rgb(145, 145, 145);
    width: 90%;
    margin: 0;
  }
  .NavLink:nth-child(1):hover,
  .NavLink:nth-child(2):hover,
  .NavLink:nth-child(3):hover,
  .NavLink:nth-child(4):hover,
  .NavLink:nth-child(5):hover {
    /* background-color: #fff; */
    transform: scale(1);
  }
  .NavLink:nth-child(6),
  .NavLink:nth-child(7){
    display: none;
  }
}
