.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 5rem;
    height: 100px;
    /* background-color: orange; */

}

.LogoWrapper > div:nth-child(2){
    font-family: Roboto Mono, sans-serif;
}

.Logo{
    font-size: 40px;
    color: #3C64B1;
    font-weight: 650;
    background-color: #ff720e10;
    font-family: Roboto, sans-serif;
}   



.NavLinks{
    display: flex;
    align-items: center;
}

.NavLink{
    color: #808080;
    font-weight: 700;
    margin-left: 1rem;
    font-size: 18px;
}