.results {
    height: calc(100vh - 100px);
}



.resultsWrapper{
    display: flex;
    /* margin-top: 3rem; */
    /* justify-content: space-between; */

}



.resultExplanation {
    margin-left: 3rem;
    margin-top: 4rem;
    max-width: 600px;
}

.share {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.shareText{
    background-color: rgba(46, 45, 45, 0.05);
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 0 3rem;
    width: 500px;
}

.shareBtn {
    margin-left: -3rem;
}


