.resultDisplayWrapper {
  display: flex;
  flex-direction: column;
}

.resultDisplay {
  min-width: 400px;
  height: 382px;
  background-color: transparent;
  /* border: 1px solid #f9f8f43f; */
  border: 2px solid #444444;
  /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
  overflow: hidden;
  border-radius: 25px;
  flex-shrink: none;
  position: relative;
  
}

.descriptionSmall {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.traitsList {
  margin: 3rem;
  font-size: 28px;
}

.D {
  color: #50b2f2;
}

.P{
  filter: invert(79%) sepia(43%) saturate(2770%) hue-rotate(292deg) brightness(105%) contrast(96%);
}

.H {
  filter: invert(66%) sepia(90%) saturate(2331%) hue-rotate(330deg) brightness(98%) contrast(87%);
}

.S {
  color: black;
  filter: invert(37%) sepia(33%) saturate(3054%) hue-rotate(335deg) brightness(95%) contrast(77%);
}

.B {
  color: black;
  filter: invert(51%) sepia(80%) saturate(7473%) hue-rotate(224deg) brightness(97%) contrast(90%);
}

.F {
  color: black;
  filter: invert(86%) sepia(61%) saturate(448%) hue-rotate(333deg) brightness(101%) contrast(101%);
}

.U {
  color: black;
  filter: invert(53%) sepia(61%) saturate(414%) hue-rotate(96deg) brightness(96%) contrast(90%);
}

.L {
  filter: invert(17%) sepia(38%) saturate(6034%) hue-rotate(329deg) brightness(103%) contrast(106%);
}

.trait2 {
  color: #f39766;
}

.trait3 {
  color: #cc1144;
}

.trait4 {
  color: #37a16a;
}

.images {
  position: absolute;
  /* background-color: rgba(255, 0, 0, 0.103); */
  height: 382px;
  width: 100%;
  top: 0;
  border-radius: 25px;
  z-index: -2;
}

.img {
  position: absolute;
  width: 100px;
  z-index: -1;
}

.pokerchip {
  bottom: 50px;
  left: -17px;
  filter: invert(51%) sepia(80%) saturate(7473%) hue-rotate(224deg) brightness(97%) contrast(90%);
}

.chick {
  bottom: 50px;
  left: -17px;
  filter: invert(86%) sepia(61%) saturate(448%) hue-rotate(333deg) brightness(101%) contrast(101%);
}

.upchart {
  bottom: -20px;
  left: 125px;
  transform-origin: center;
  transform: rotate(15deg);
  filter: invert(53%) sepia(61%) saturate(414%) hue-rotate(96deg) brightness(96%) contrast(90%);
}

.downchart {
  bottom: -20px;
  left: 125px;
  transform-origin: center;
  transform: rotate(15deg);
  filter: invert(66%) sepia(90%) saturate(2331%) hue-rotate(330deg) brightness(98%) contrast(87%);
}

.house {
  right: 0;
  bottom: 70px;
  filter: invert(66%) sepia(90%) saturate(2331%) hue-rotate(330deg) brightness(98%) contrast(87%);
}

.butterfly {
  right: 0;
  bottom: 70px;
  filter: invert(37%) sepia(33%) saturate(3054%) hue-rotate(335deg) brightness(95%) contrast(77%);
}

.diamond {
  right: -50px;
  top: 100px;
  transform: scaleX(-1);
  filter: invert(62%) sepia(30%) saturate(1840%) hue-rotate(178deg) brightness(102%) contrast(90%);
}

.toiletpaper {
  right: -15px;
  top: 80px;
  transform: scaleX(-1);
  filter: invert(79%) sepia(43%) saturate(2770%) hue-rotate(292deg) brightness(105%) contrast(96%);
}

.timeStamp {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: white;
  text-align: right;
  font-family: "DM Mono", sans-serif;
}

/* @media screen and (max-width: 920px){
    .resultDisplay{
        flex-direction: column;
    }
} */

@media screen and (max-width: 425px) {
  .resultDisplay {
    /* min-width: 350px; */
    min-width: unset;
    margin: 0 2rem;
  }

  .upchart {
    left: 100px;
  }

  .house {
    right: 70px;
  }


  .timeStamp {
    right: 10px;
  }
}
