.SearchWrapper {
    display: flex;
    /* flex-direction: column; */
  }
  
  .SearchWrapper>* {
    font-family: "DM Mono", monospace;
    font-weight: 500;
  }
  
  .SearchInput {
    height: 40px;
    min-width: 500px;
    max-width: 590px;
    color: gray;
    background-color: #2c2c2c;
    /* border: 1px solid #D9D9D9; */
    border: none;
    font-size: 1.2rem;
    border-radius: 25px 0 0 25px;
    padding: 0 0.5rem;
  }
  
  .SearchInput:focus {
    outline: none;
  }
  
  .searchBtn {
    /* border-radius: 0 25px 25px 0; */
    border-radius: 25px;
    margin-left: -30px;
  }


  @media screen and (max-width: 500px) {
    .SearchWrapper {
      flex-direction: column;
    }
  
    .SearchInput {
      min-width: 300px;
      max-width: 100px;
      border-radius: 25px 25px 25px 25px;
      margin-right: 0;
    }
    
    .searchBtn {
      margin: 2rem 2rem 0 2rem;
    }
  }