.share {
    /* margin-top: 6.5rem; */
    display: flex;
    align-items: center;
    margin-left: 3rem;
}
  
.shareText {
background-color: hsla(0, 1%, 18%, 0.295);
height: 100%;
align-items: center;
border-radius: 25px;
padding: 0 3rem;
/* width: 600px; */
word-wrap: break-word;
color: rgb(158, 158, 158);

}

.shareBtn {
width: 100px;
}