.share {
    /* margin-top: 6.5rem; */
    display: flex;
    align-items: center;
    /* margin-left: 3rem; */
}
  
.shareText {
    display: flex;
    background-color: hsla(0, 1%, 18%, 0.295);
    /* height: 100%; */
    align-items: center;
    border-radius: 25px;
    padding: 0 3rem;
    /* width: 600px; */
    word-wrap: break-word;
    height: 40px;
    color: rgb(158, 158, 158);
    margin-right: -35px;
    /* margin-left: 3rem; */
    width: 100%;
}

.shareBtn {
    /* width: 100px; */
}

.twitterLogo {
    height: 1rem;
}

@media screen and (max-width: 920px){ /* Relate to media query for max-width 920px in Results.module.css */
    .share {
        margin: 2rem 0 0 0;
    }
    .shareText{
        margin-left: 0;
    }
}